.container{
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  background-color: #121212;
  justify-content: space-around;
  margin: 0;
  height: 60px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 1rem;
}
.button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;
}

.list-navbar{
  text-decoration: none;
  color: #FFFDFD;
  font-size: 15px;
  font-family: 'Comfortaa', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-item{
  font-size: 22px;
}